# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../ReadConversion\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\Code\A15Java\ReadConversion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
