# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../A15Java\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\Code\A15Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
